<html>
<head>
    <title>Login Page</title>
    <link rel = "stylesheet" type ="text/css" href="../static/style.css">
</head>
<body>
    <div class="container">
      <br><br>
        <div class="wrapper" style = "background-color: rgb(53, 5, 5); border-style: solid;border-color: rgb(40, 209, 209); width: 600px; margin-left:auto; margin-right:auto; text-align:center;">
            <div class="card-body">
                <p style="text-align:center; font-size:35px;color:rgb(100, 100, 236) ;"><b>Welcome! Please Enter Your Login Details!</b></p>
            </div>
        </div>>
        <div class="wrapper" style = "background-color: rgb(141, 141, 67); border-style: solid;border-color: rgb(40, 209, 209); width: 600px; margin-left:auto; margin-right:auto; text-align:center;">
          <div class="card-body">
            <form> 
            <p style="text-align:center; font-size:25px;"><b>Username:</b>
                <input type="text" placeholder="Enter Username" >
            </p>
            <p style="text-align:center; font-size:25px;"><b>Password:</b>
                <input type="text" placeholder="Enter Username" >
            </p>
            <p style="text-align:center; font-size:25px;">
                <input type="button" value="Register" onclick="">   <input type="button" value="LOGIN" onclick="location.href('/')">
            </p>
            </form>
          </div>
        </div>  
    </div>
</body>
</html